/* -------------------- Contact -----------------*/
.section-contact {
    padding-bottom: 3%;
}

.contact {
    background-color: $color-secundary;
    border-radius: 1rem;
    padding: 3% 0;

    &__reason-form {
        @extend .flex-evenly;
        width: 100%;
    }

    &__buttons {
        @extend .flex-evenly;
    }

    &__map {
        @include flex-center;
        flex-direction: column;
        justify-content: space-between;
    }
}

.map {
    width: 100%;
}