/* ------------------ estilos del header---------------*/
.header {
    font-size: larger;
    background-color: $color-primary;

    &__logo {
        width: 3.5rem;
        height: 3.5rem;

        &:hover {
            animation: pulse;
            /* nombre de animacion */
            animation-duration: 2s;
            /* duracion de animacion */
        }
    }
}

.menu-end {
    justify-content: end;
}