/* ------------------ estilos de inicio---------------*/
.conectivity {
    background-color: $color-blanco;
    padding: 5% 0;
    @extend .flex-around;

    & i {
        font-size: 10rem;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.home__text {
    @include flex-center;
    height: 100%;
    font-size: 2.2em;
    align-items: center;
    line-height: 1.6;
}