// Colors
$color-primary: #4b6587; //color del header y footer
$color-secundary:rgba(145, 140, 136, 0.20) ; //colores de fondo de imagenes en galeria y contacto 
$color-body: rgba(145, 140, 136, 0.25); //color del body principal
$color-blanco: rgba(1255, 255, 255, 0.99); //color blanco de fuente y otros
$color-white-hover: rgba(255, 255, 255, 0.55); //transicion de color de blanco con transparencia en el hover
$shadow-title: -2px 0 black, 1px 0 black, 0 1px black, 0 -1px black; // sombra de 4 lados en titulos de cada página
